<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/category.css" rel="stylesheet">
    <title>Category</title>
</head>
<body>
<div id="Content">
    <div id="Welcome">
        <div id="WelcomeContent">
            <!--登录用户的firstname-->
        </div>
    </div>
</div>
<div>

    <table>
        <tr>
            <th> </th>
            <th> </th>
        </tr>
        <tr th:each="category : ${categories}">
            <!-- 从session会话作用域里提取数据,each为迭代-->
            <td th:text="${category.categoryId}"></td>
            <!--用a标签链接到另外的页面，并把fid传过去-->
            <td th:text="${category.name}" > </td>
            <td><a th:href="@{/edit(categoryId=${category.categoryId})}">修改</a></td>
            <td><a th:href="@{/remove(categoryId=${category.categoryId})}">remove</a></td>
        </tr>
    </table>



</div>

</body>
</html>